<template>
  <div class="leadership">
    <LayoutsHeader />
    <LayoutsBanner :title="'Международный экспертный совет (МЭС)'" />
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-12">
          <div class="row">
            <div
              class="col-12"
              v-for="(item, index) in leadership"
              :key="item.id"
            >
              <div class="leader-card">
                <div class="leader-image">
                  <img :src="item.image" alt="" />
                </div>
                <div class="leader-info">
                  <h3>{{ item.title }}</h3>
                  <p>{{ item.text }}</p>
                  <span>{{ item.ctr }}</span>
                  <div>
                    <b-button v-b-toggle="item.txtid + index" class="m-1"
                      >Toggle Collapse</b-button
                    >
                    <b-collapse :id="item.txtid + index">
                      <b-card>I should start open!</b-card>
                    </b-collapse>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <AppSidebar />
        </div>
      </div>
    </div>
    <LayoutsFooter />
  </div>
</template>

<script>
export default {
  data() {
    return {
      leadership: [
        {
          id: 1,
          image: require('~/assets/images/leadership/leader1.png'),
          title: 'Ербол Сулейменов',
          text: 'Эксперт в области компьютерных наук/ИКТ',
          ctr: 'Казахстан',
          txtid: 'accordion-1',
          acctext: '',
        },
        {
          id: 2,
          image: require('~/assets/images/leadership/leader2.png'),
          title: 'Рафаэль Перес Колон',
          text: 'Эксперт в области ИКТ',
          ctr: 'Испания',
          txtid: 'accordion-2',
          acctext: '',
        },
        {
          id: 3,
          image: require('~/assets/images/leadership/leader3.png'),
          title: 'Эмил Мартин',
          text: 'Эксперт в области естественных наук',
          ctr: 'США',
          txtid: 'accordion-3',
          acctext: '',
        },
        {
          id: 4,
          image: require('~/assets/images/leadership/leader4.png'),
          title: 'Башир Чанбаша',
          text: 'Эксперт в области энергетики и/или новых материалов',
          ctr: 'Индия',
          txtid: 'accordion-4',
          acctext: '',
        },
        {
          id: 5,
          image: require('~/assets/images/leadership/leader5.png'),
          title: 'Эрик Азулай',
          text: 'Эксперт в международной индустрии/бизнесе/предприниматель/МСП (SME)',
          ctr: 'США',
          txtid: 'accordion-5',
          acctext: '',
        },
        {
          id: 6,
          image: require('~/assets/images/leadership/leader6.png'),
          title: 'Томас А. Селлуччи',
          text: 'Иностранный Венчурный Инвестор',
          ctr: 'США',
          txtid: 'accordion-6',
          acctext: '',
        },
        {
          id: 7,
          image: require('~/assets/images/leadership/leader7.png'),
          title: 'Cергей Нетесов',
          text: 'Эксперт в области вирусологии/эпидемиологии',
          ctr: 'Российская Федерация',
          txtid: 'accordion-7',
          acctext: '',
        },
      ],
    }
  },
}
</script>

<style></style>
