<template>
  <div class="contact">
    <LayoutsHeader />
    <LayoutsBanner :title="'Контакты'" />
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="contact-card">
            <ul>
              <li>
                <p>Адрес:</p>
                <a href="#"
                  >100174, г. Ташкент, Алмазарский р-н, ул. Университетская, дом
                  7</a
                >
              </li>
              <li>
                <p>Телефон:</p>
                <a href="tel:+998 (97) 170 67 84">+998 (97) 170 67 84</a>
              </li>
              <li>
                <p>Эл.почта:</p>
                <a href="mailto:munis@mininnovation.uz"
                  >munis@mininnovation.uz</a
                >
              </li>
            </ul>
            <div class="contact-social">
              <ul>
                <li>
                  <a href="#"
                    ><img src="~/assets/images/instagram2.svg" alt=""
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="~/assets/images/telegram2.svg" alt=""
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="~/assets/images/youtube.svg" alt=""
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img src="~/assets/images/facebook2.svg" alt=""
                  /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="contact-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d374.39586769016955!2d69.20788038914341!3d41.34872500770482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8d755132b921%3A0x3d2c94a22bdea876!2z0JzQuNC90LjRgdGC0LXRgNGB0YLQstC-INCY0L3QvdC-0LLQsNGG0LjQvtC90L3QvtCz0L4g0KDQsNC30LLQuNGC0LjRjyDQoNC10YHQv9GD0LHQu9C40LrQuCDQo9C30LHQtdC60LjRgdGC0LDQvQ!5e0!3m2!1sru!2s!4v1635859338927!5m2!1sru!2s"
              width="600"
              height="450"
              allowfullscreen="allowfullscreen"
              loading="lazy"
              style="border: 0px; width: 100%; height: 100%"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <LayoutsFooter />
  </div>
</template>

<script>
export default {}
</script>

<style></style>
