<template>
  <header :class="$route.path != '/' ? 'headerin' : 'header'">
    <div class="container">
      <div :class="$route.path != '/' ? 'header-wrapperin' : 'header-wrapper'">
        <div class="header-logo">
          <nuxt-link to="/">
            <img
              :src="
                $route.path != '/'
                  ? require('~/assets/images/header-logo.png')
                  : require('~/assets/images/logo.png')
              "
              alt="not found"
            />
          </nuxt-link>
          <div class="header-search">
            <button @click="openSearch">
              <i class="icon-search"></i>
              <span>Поиск по сайту</span>
            </button>
          </div>
        </div>
        <div class="header-options">
          <div class="header-functions">
            <ul>
              <a href="#"
                ><i class="icon-smartphone" @click="openMobileWindow"></i
              ></a>
              <a href="#"><i class="icon-sunglasses"></i></a>
              <a href="#">Рус<i class="icon-angle-down"></i></a>
            </ul>
          </div>
          <div class="header-log">
            <a
              href="https://wbcrm.mininnovation.uz/"
              target="_blank"
              class="blue-btn"
              >Вход в программу</a
            >
          </div>
          <div class="header-navbar">
            <a href="#"><i class="icon-navbar" @click="openNavbar"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- <LayoutsHeaderMobileMenu v-if="windowWidth < 991" />
    <LayoutsHeaderMenu v-else />
    <LayoutsHeaderSearch :focus="focus" /> -->
  </header>
</template>

<script>
export default {
  data() {
    return {
      windowWidth: null,
      focus: false,
    }
  },
  methods: {
    openNavbar() {
      this.$store.commit('auth/setNavbar', true)
    },
    openSearch() {
      this.$store.commit('auth/setSearch', true)
      this.focus = true
    },
    openMobileWindow() {
      const w = window.innerWidth
      const h = window.innerHeight
      window.open(
        '/',
        'mobileWindow_' + Math.random().toString().slice(2),
        'height=600, width=400, top=' +
          (h / 2 - 275) +
          ', left=' +
          (w / 2 - 225) +
          ', toolbar=0, location=0, menubar=0, directories=0 ,scrollbars=0, resizeable=no, fullcsreen=no'
      )
    },
  },
  mounted() {
    if (process.client) {
      this.windowWidth = window.innerWidth
    }
  },
}
</script>

<style></style>
