@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?b2cxwf');
  src: url('fonts/icomoon.eot?b2cxwf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b2cxwf') format('truetype'),
    url('fonts/icomoon.woff?b2cxwf') format('woff'),
    url('fonts/icomoon.svg?b2cxwf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\e900";
}

.icon-angle-left:before {
  content: "\e901";
}

.icon-angle-right:before {
  content: "\e902";
}

.icon-calendar:before {
  content: "\e903";
}

.icon-circle:before {
  content: "\e904";
}

.icon-facebook:before {
  content: "\e905";
}

.icon-gallery:before {
  content: "\e906";
}

.icon-instagram:before {
  content: "\e907";
}

.icon-navbar:before {
  content: "\e908";
}

.icon-plus:before {
  content: "\e909";
}

.icon-printer:before {
  content: "\e90a";
}

.icon-search:before {
  content: "\e90b";
}

.icon-smartphone:before {
  content: "\e90c";
}

.icon-sunglasses:before {
  content: "\e90d";
}

.icon-telegram:before {
  content: "\e90e";
}

.icon-time:before {
  content: "\e90f";
}

.icon-video:before {
  content: "\e910";
}

.icon-view:before {
  content: "\e911";
}

.icon-volume:before {
  content: "\e912";
}

.icon-youtube:before {
  content: "\e913";
}
