<template>
  <div class="about">
    <div class="about-wrapper">
      <div class="container">
        <div class="row justify-content-md-between justify-content-sm-center">
          <div
            class="col-xl-3 col-lg-4 col-md-4 col-sm-6"
            v-for="item in about"
            :key="item.id"
          >
            <nuxt-link class="about-item" to="">
              <div class="about-item-image">
                <img :src="item.image" alt="not found" />
              </div>
              <h3>{{ item.title }}</h3>
              <p v-html="item.text"></p>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      about: [
        {
          id: 1,
          image: require('~/assets/images/about1.svg'),
          title: 'Состав ГРП',
          text: `Мы группа реализации проекта Всемирного банка "Модернизация национальной инновационной системы Узбекистана".`,
          href: '/piu',
        },
        {
          id: 2,
          image: require('~/assets/images/about2.svg'),
          title: 'Международный экспертный совет',
          text: 'Мы международная команда экспертов',
          href: '/international-expert',
        },
        {
          id: 3,
          image: require('~/assets/images/about3.svg'),
          title: 'Предложения и жалобы',
          text: 'Зарегистрированные лица могут оставлять свои предложения и жалобы',
          href: '/',
        },
      ],
    }
  },
}
</script>

<style></style>
