<template>
  <div class="banner">
    <div class="banner-main">
      <div class="banner-main-item">
        <img src="~/assets/images/banner-bg.jpg" alt="" />

        <div class="container">
          <div class="banner-main-item-wrapper">
            <span>30 сентября 2021</span>
            <h1>
              Узбекистан и Венгрия запускают конкурс на разработку научных
              проектов и стартапов
            </h1>
            <div class="content">
              <p>
                Мининноваций Узбекистана совместно с Министерством иностранных
                дел и торговли Венгрии объявили о запуске конкурса стартапов и
                научных проектов по всем совместным направлениям...
              </p>
            </div>
            <nuxt-link class="tag" to="">#инновации</nuxt-link>

            <nuxt-link class="blue-btn" to="">Подробнее</nuxt-link>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-news">
      <div class="container">
        <div class="banner-news-wrapper">
          <div class="swiper-navigation">
            <i class="icon-angle-left banner-left"></i>
            <i class="icon-angle-right banner-right"></i>
          </div>
          <client-only>
            <swiper :options="BannerOptions">
              <swiper-slide v-for="item in News" :key="item.id">
                <div class="banner-news-item">
                  <nuxt-link to="">
                    <span>{{ item.pub_date }}</span>
                    <h3>{{ item.title }}</h3>
                    <div class="content">
                      <p v-html="item.content"></p>
                    </div>
                  </nuxt-link>
                </div>
              </swiper-slide>
            </swiper>
          </client-only>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      BannerOptions: {
        slidesPerview: 1,
        loop: true,
        watchSlidesVisibility: true,
        loopFillGroupWithBlank: true,
        navigation: {
          nextEl: '.banner-right',
          prevEl: '.banner-left',
        },
        speed: 500,
        autoplay: {
          delay: 4500,
          disableOnInteraction: false,
        },
        breakpoints: {
          2000: {
            slidesPerView: 3,
          },
          1650: {
            slidesPerView: 3,
          },
          1480: {
            slidesPerView: 3,
          },
          1200: {
            slidesPerView: 3,
          },
          992: {
            slidesPerView: 2,
          },
          768: {
            slidesPerView: 2,
          },
          0: {
            spaceBetween: 15,
            slidesPerView: 1,
          },
        },
      },

      News: [
        {
          pub_date: '20.10.2021',
          title:
            'Индия запустит в Узбекистане онлайн-платформу телемедицины',
          content:
            'Группа реализации проекта с участием Всемирного банка «Модернизация национальной инновационной системы Узбекистает конкурс ограмм финансируемого Всемирным банком. Позиция относится к двум отдельным грантовым программам: (i) Программа …',
        },
        {
          pub_date: '20.10.2021',
          title:
            'В Андижане открылся инновационный молодежный технопарк',
          content:
            'Группа реализации проекта с участием Всемирного банка «Модернизация национальной инновационной системы Узбекистана» пнграмм финансируемого Всемирным банком. Позиция относится к двум отдельным грантовым программам: (i) Программа …',
        },
        {
          pub_date: '20.10.2021',
          title:
            'Ученый из РФ поможет властям Узбекистана усовершенствовать...',
          content:
            'Группа реализации проекта с участием Всемирного банка «Модернизацого развития Республики Узбекистан объявляет конкурс на междунаруемого Всемирным банком. Позиция относится к двум отдельным грантовым программам: (i) Программа …',
        },
        {
          pub_date: '20.10.2021',
          title:
            'Объявляется конкурс на международного научного рецензента (Peer reviewers)',
          content:
            'Группа реализации проекта с участием Всемирного банка «Модернизация национальной инновационной системы Узбекистана» при Министерстве инн',
        },
      ],
    }
  },
  //   async created() {
  //     try {
  //         let params = {
  //             limit: 4,
  //             offset: 0,
  //             menu_group: "news",
  //             on_slider: true
  //         }
  //     } catch (err) {
  //       console.error(err)
  //     }
  //   },
}
</script>

<style scoped>
</style>