<template>
  <div class="mediateka">
    <div class="container">
      <div class="mediateka-wrapper">
        <div class="mediateka-title">
          <h2 class="title">Медиатека</h2>
        </div>
        <div class="mediateka-tabs">
          <div class="mediateka-tabs--btns">
            <button @click="showMedia(true)" :class="{ active: isShow }">
              Фотогалерея
            </button>
            <button @click="showMedia(false)" :class="{ active: !isShow }">
              Видеогалерея
            </button>
          </div>
          <div class="mediateka-tabs--links">
            <nuxt-link to=""> Посмотреть все </nuxt-link>
          </div>
        </div>
        <div class="media-content">
          <div :class="{ active: isShow }" class="media--content--absolute">
            <div class="row">
              <div class="col-lg-6">
                <div class="media-card active">
                  <i class="icon-gallery"></i>
                  <img src="~/assets/images/img5.png" />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="media-card">
                  <i class="icon-gallery"></i>
                  <img src="~/assets/images/img4.png" />
                </div>
                <div class="media-card">
                  <i class="icon-gallery"></i>
                  <img src="~/assets/images/img2.png" />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="media-card">
                  <i class="icon-gallery"></i>
                  <img src="~/assets/images/img3.png" />
                </div>
                <div class="media-card">
                  <i class="icon-gallery"></i>
                  <img src="~/assets/images/img1.png" />
                </div>
              </div>
            </div>
          </div>
          <div :class="{ active: !isShow }" class="media--content--absolute2">
            <div class="row">
              <div class="col-lg-6">
                <div class="media-card active">
                  <i class="icon-video"></i>
                  <img src="~/assets/images/news-view1.jpg" />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="media-card">
                  <i class="icon-video"></i>
                  <img src="~/assets/images/news-view1.jpg" />
                </div>
                <div class="media-card">
                  <i class="icon-video"></i>
                  <img src="~/assets/images/news-view1.jpg" />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="media-card">
                  <i class="icon-video"></i>
                  <img src="~/assets/images/news-view1.jpg" />
                </div>
                <div class="media-card">
                  <i class="icon-video"></i>
                  <img src="~/assets/images/news-view1.jpg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isShow: true,
    }
  },
  methods: {
    showMedia(e) {
      this.isShow = e
    },
  },
}
</script>

<style></style>
