<template>
  <div class="modernization">
    <div class="container">
      <div class="row ">
        <div class="col-lg-6">
          <div class="modernization-info">
            <h2 class="title">
              Модернизация Национальной Инновационной Системы Узбекистана
            </h2>
            <p>
              28 октября 2020 года Совет директоров Всемирного банка одобрил
              проект «Модернизация национальной инновационной системы
              Узбекистана» с предоставлением финансовых средств в размере 50
              млн. долларов США. Исполнительным органом данного проекта является
              Министерство Инновационного развития (МИР) Республики Узбекистан.
            </p>
            <nuxt-link class="blue-btn" to=""> Подробнее </nuxt-link>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="modernization-image">
            <img src="~/assets/images/modernizatsia.jpg" alt="modernization image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
