<template>
  <div class="news">
    <div class="container">
      <div class="news-wrapper">
        <div class="news-header">
          <h2 class="title">Новости</h2>
          <nuxt-link to="/news"> Все новости </nuxt-link>
        </div>
        <div class="row">
          <div class="col-xl-9 col-lg-12">
            <div class="row">
              <div class="col-lg-4" v-for="item in News" :key="item.id">
                <nuxt-link class="news-card" :to="`/news/${item.slug}`">
                  <div class="news-card-image">
                    <img :src="item.image" alt="" />
                  </div>
                  <div class="news-card-nav">
                    <p>
                      <span><i class="icon-calendar"></i>{{ item.date }},</span>
                      <span><i class="icon-time"></i>{{ item.time }}</span> |
                      <span><i class="icon-view"></i>{{ item.views }}</span>
                    </p>
                  </div>
                  <h3 class="title">{{ item.title }}</h3>
                  <div class="content">
                    <p v-html="item.text"></p>
                  </div>
                  <nuxt-link to="" class="tag">{{ item.tag }}</nuxt-link>
                </nuxt-link>
              </div>
            </div>
          </div>
          <div class="col-xl-3">
            <div class="news-right">
              <div
                class="news-right-col"
                v-for="item in NewsRight"
                :key="item.id"
              >
                <nuxt-link to="">
                  <h3>{{ item.title }}</h3>
                  <div class="news-right-card-nav">
                    <span>{{ item.date }}</span>
                    <nuxt-link to="" class="tag">{{ item.tag }}</nuxt-link>
                  </div>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      News: [
        {
          id: 1,
          image: require('~/assets/images/news/flag.png'),
          date: '26.11.2021',
          time: '09:27',
          views: '146',
          title: 'Флаг Узбекистана запустили в стратосферу',
          text: 'Молодые ученые запустили аэростат с флагом Узбекистана в стратосферу. Видео запуска опубликовало Министерство инноваций в своем...',
          tag: '#инновации',
          slug: 1
        },
        {
          id: 2,
          image: require('~/assets/images/news/auth.png'),
          date: '04.11.2021',
          time: '05:25',
          views: '233',
          title: 'В администрации Чусткого района назначен замхокима...',
          text: 'В Чустском районе Наманганской области заместителем хокима по инновационному развитию стал Каримходжаев Отабек Тухтасинович. Об этом сообщает...',
          tag: '#инновации',
          slug: 2
        },
        {
          id: 3,
          image: require('~/assets/images/news/comp.png'),
          date: '26.10.2021',
          time: '07:07',
          views: '1921',
          title: 'В Узбекистане запустят масштабный медиапроект для...',
          text: 'В Узбекистане запустят медиапроект FURSAT по созданию молодежных промышленных и предпринимательских зон (МППЗ) для привлечения молодых...',
          tag: '#инновации',
          slug: 3
        },
      ],
      NewsRight: [
        {
          id: 1,
          title:
            'Объявляется конкурс на международного научного...',
          date: ' 20.10.2021',
          tag: '#Наука',
          path: '/',
        },
        {
          id: 2,
          title:
            'В сотрудничестве со Всемирным банком разрабатывается проек...',
          date: '14.10.2021',
          tag: '#Инновация',
        },
        {
          id: 3,
          title: 'Флаг Узбекистана спущен в стратосферу',
          date: '25.08.2021',
          tag: '#Наука',
        },
        {
          id: 4,
          title:
            'Министр инновационного развития провел переговоры с...',
          date: '18.07.2021',
          tag: '#Инновация',
        },
      ],
    }
  },
}
</script>

<style></style>
