<template>
  <div class="question">
    <div class="container">
      <div class="question-wrapper">
        <div class="question-header">
          <h2 class="title">Часто задаваемые вопросы</h2>
        </div>
        <div class="question-body">
          <div class="row">
            <div class="col-lg-9">
              <div class="question-body-list">
                <div
                  v-for="(item, index) in faqs"
                  :key="item.id"
                  class="accordion question-body-list-item"
                  role="tablist"
                >
                  <b-card class="question-card">
                    <b-card-header header-tag="header" role="tab">
                      <b-button
                        block
                        v-b-toggle="item.txtid + index"
                        variant="info"
                        class="question-item-header"
                        ><h4>{{ item.title }}</h4>
                        <i class="icon-plus"></i>
                      </b-button>
                    </b-card-header>
                    <b-collapse
                      :id="item.txtid + index"
                      accordion="my-accordion"
                      role="tabpanel"
                    >
                      <b-card-body>
                        <b-card-text class="question-answer">{{
                          item.text
                        }}</b-card-text>
                      </b-card-body>
                    </b-collapse>
                  </b-card>

                  <!-- <b-card no-body class="mb-1">
                    <b-card-header header-tag="header" class="p-1" role="tab">
                      <b-button block v-b-toggle.accordion-2 variant="info"
                        >Accordion 2</b-button
                      >
                    </b-card-header>
                    <b-collapse
                      :id="item.txtid"
                      accordion="my-accordion"
                      role="tabpanel"
                    >
                      <b-card-body>
                        <b-card-text>{{ item.text }}</b-card-text>
                      </b-card-body>
                    </b-collapse>
                  </b-card> -->
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="question-image">
                <img src="~/assets/images/faq.png" alt="not found" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      faqs: [
        {
          id: 1,
          txtid: 'accordion-1',
          title: 'Каковы цели программы повышения качества исследований?',
          text: `
              Финансирование исследовательских проектов, представленных исследователями из исследовательских институтов или местных университетов. Программа включает в себя совместные исследовательские предложения от местных и международных исследователей (включая узбекских ученых за рубежом), совместные исследовательские предложения от исследователей и частного сектора, а также предложения от молодых ученых.
            `,
        },
        {
          id: 2,
          txtid: 'accordion-2',
          title:
            'Какой максимальный срок предоставляется для реализации проектов по грантам, выделенным в рамках программы повышения качества исследований?',
          text: `Срок реализации проекта - до 2 лет (24 месяца). В виде исключения продолжительность проекта может быть продлена, если заявленное основание будет сочтено целесообразным.`,
        },
        {
          id: 3,
          txtid: 'accordion-3',
          title: 'Через какой сайт принимаются заявки?',
          text: `
              Заявки принимаются на сайте https://wbgrants.mininnovation.uz/. Кандидаты будут иметь возможность подать свои заявки после соответствующей регистрации.
            `,
        },
        {
          id: 4,
          txtid: 'accordion-4',
          title: 'Какие расходы допускаются в ходе реализации проекта?',
          text: `
              - Заработная плата;
              - Закупка оборудований;
              - Командировочные расходы;
              - Лабораторные материалы и оборудование;
              - Защита интеллектуальной собственности и публикации;
              - Сторонние услуги;
              - Прочие расходы не препятствующие законодательством РУз.
            `,
        },
        {
          id: 5,
          txtid: 'accordion-5',
          title: 'На каком языке необходимо представить проекты?',
          text: `
              Проектное предложение должно быть написано и представлено на английском языке. В дополнении к английской версии может быть предоставлена дополнительная версия на узбекском или русском языке. В связи с международным характером процесса оценки проекта, английская версия принята в качестве основного предложения.
            `,
        },
      ],
    }
  },
}
</script>

<style></style>
