<template>
  <div class="system">
    <div class="container">
      <div class="system-wrapper">
        <div class="row justify-content-between">
          <div class="col-lg-6">
            <div class="system-info">
              <h2 class="title">Проект состоит из трех основных компонентов</h2>
              <p>
                Рамках Компонента 1 и Компонента 2 будут разработаны
                руководства, в соответствии с международными стандартами, и
                реализованы 5 грантовых программ. Кроме того, в проекте есть
                Компонент 3 для комплексной технической помощи для всех секторов
                (правительство, университеты и бизнес) посредством
                консультирования и наращивания потенциала.
              </p>
              <div class="system-bottom">
                <nuxt-link to="" class="blue-btn">Подробнее</nuxt-link>
                <a
                  href="https://wbcrm.mininnovation.uz/"
                  class="blue-btn"
                  target="_blank"
                  >Вход в программу</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="system-image">
              <img src="~/assets/images/Macbookpro.png" alt="not found" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
