<template>
  <div class="usefull">
    <div class="container">
      <div class="usefull-wrapper">
        <div class="usefull-header">
          <h2 class="title">Полезные ссылки</h2>
          <div class="usefull-pagination" slot="pagination"></div>
        </div>
        <div class="usefull-body">
          <client-only>
            <swiper :options="usefulSwiper">
              <swiper-slide v-for="item in useful" :key="item.id">
                <a :href="item.url" target="_blank" class="usefull-item">
                  <div class="usefull-item-image">
                    <img :src="item.icon" alt="not found" />
                  </div>
                  <h3>{{ item.title }}</h3>
                </a>
              </swiper-slide>
            </swiper>
          </client-only>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      usefulSwiper: {
        slidesPerView: 4,
        spaceBetween: 24,
        pagination: {
          el: '.usefull-pagination',
          clickable: true,
        },
      },
      useful: [
        {
          id: 1,
          url: 'https://my.gov.uz/ru',
          icon: require('~/assets/images/usefull1.png'),
          title: 'Единый портал интерактивных государственных услуг',
        },
        {
          id: 2,
          url: 'https://mininnovation.uz/',
          icon: require('~/assets/images/usefull2.png'),
          title: 'Министерство Инновационного развития Республики Узбекистан',
        },
        {
          id: 3,
          url: 'https://www.worldbank.org/en/home',
          icon: require('~/assets/images/usefull3.png'),
          title: 'Всемирный банк',
        },
        {
          id: 4,
          url: 'https://president.uz/en',
          icon: require('~/assets/images/usefull5.png'),
          title: 'Пресс-служба Президента Республики Узбекистан',
        },
      ],
    }
  },
}
</script>

<style></style>
