* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* scroll-behavior: smooth; */
}

h1,
h3,
li,
ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
}

a,
a:hover {
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.row > div {
  padding: 0 12px;
}

.row .row {
  margin: -12px;
}

.row .row > div {
  padding: 12px;
}

.blue-btn {
  background: #529dd6;
  border-radius: 4px;
  padding: 12px 32px;
  color: #ffffff;
}

.blue-btn:hover {
  color: #ffffff;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 16px;
  z-index: 10;
}

.headerin {
  position: relative;
  margin: 16px 0;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapperin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-search {
  margin-left: 72px;
}

.header-search button {
  background: unset;
  border: unset;
  display: flex;
  align-items: center;
}

.header-search button i {
  font-size: 20px;
  margin-right: 20px;
  color: #fff;
}

.header-search button span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.header-wrapperin .header-search {
  margin-left: 72px;
}

.header-wrapperin .header-search button {
  background: unset;
  border: unset;
  display: flex;
  align-items: center;
}

.header-wrapperin .header-search button i {
  font-size: 20px;
  margin-right: 20px;
  color: black;
}

.header-wrapperin .header-search button span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.header-wrapperin .header-options i {
  color: #000;
}

.header-wrapperin .header-functions ul a:last-child {
  color: #000;
}

.header-functions {
  position: relative;
}

.header-functions::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40%;
  width: 1px;
  height: 24px;
  background-color: #ffffff;
}

.header-wrapperin .header-functions::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40%;
  width: 1px;
  height: 24px;
  background-color: #000;
}

.header-functions i {
  color: #fff;
}

.header-functions ul {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.header-functions ul a:not(:last-child) {
  margin-right: 37px;
}

.header-functions ul a:last-child {
  margin-left: 32px;
}

.header-functions ul a:first-child > i {
  font-size: 18px;
}

.header-functions ul a:nth-child(2) > i {
  font-size: 28px;
}

.header-functions ul a:last-child {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.header-functions ul a:last-child > i {
  font-size: 7px;
  margin-left: 10px;
}

.header-log a {
  margin: 0 32px;
}

.header-navbar i {
  color: #fff;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.banner-main {
  height: 100vh;
  width: 100%;
  min-height: 850px;
}

.banner-main-item {
  height: 100%;
  width: 100%;
}

.banner-main-item img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  transform: scale(1.4);
  animation: scale 55s linear infinite;
}

@keyframes scale {
  50% {
    transform: scale(1);
  }
}

.banner-main-item-wrapper {
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
}

.banner-main-item-wrapper span {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #e0e0e0;
  display: inline-block;
  margin-bottom: 16px;
}

.banner-main-item-wrapper h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 16px;
  max-width: 955px;
}

.banner-main-item-wrapper .content p {
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #e0e0e0;
  margin-bottom: 8px;
  max-width: 620px;
}

.banner-main-item-wrapper .tag {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 24px;
  display: inline-block;
}

.banner-main-item-wrapper .blue-btn {
  width: 153px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-news {
  position: absolute;
  bottom: 24px;
}

.banner-news .swiper-navigation {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  z-index: 999;
  transform: translateX(71px);
}

.banner-news .swiper-navigation i {
  color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.banner-news .swiper-navigation i.banner-right {
  margin-left: 16px;
}

.banner-news-item {
  max-width: 373px;
  width: 100%;
  margin-right: auto;
  margin-left: 0;
  padding-top: 24px;
  padding-bottom: 24px;
}

.banner-news-item span {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #e0e0e0;
  display: block;
  margin-bottom: 8px;
}

.banner-news-item h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 8px;
}

.banner-news-item .content p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #e0e0e0;
  margin-bottom: 8px;
}

.about {
  padding-top: 85px;
}

.about-item-image img {
  opacity: 1;
}

.about-item {
  display: block;
  padding: 40px 0 64px;
}

.about-item-image {
  margin-bottom: 24px;
  background-color: rgba(24, 150, 252, 0.08);
  opacity: 0.8;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-item h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  color: #001d42;
  margin-bottom: 8px;
}

.about-item p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #001d42;
}

.modernization {
  padding-top: 80px;
}

.modernization-info .title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #001d42;
  margin-bottom: 16px;
}

.modernization-info p {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #001d42;
  margin-bottom: 24px;
}

.modernization-image {
  padding-top: 32px;
  padding-right: 32px;
  position: relative;
  z-index: 1;
}

.modernization-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.modernization-image::after {
  content: '';
  position: absolute;
  border-radius: 4px;
  border: 2px solid #529dd6;
  z-index: -1;
  top: 0;
  right: 0;
  left: 32px;
  bottom: 32px;
}

.news {
  padding-top: 80px;
}

.news-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.news-header .title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #001d42;
}

.news-header a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #529dd6;
}

.news-card-image {
  margin-bottom: 16px;
  width: 342px;
  height: 232px;
}

.news-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.news-card-nav {
  margin-bottom: 8px;
}

.news-card-nav p {
  font-size: 14px;
  line-height: 16px;
  color: #bdbdbd;
  display: flex;
  align-items: center;
}

.news-card-nav span {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.news-card-nav span:last-child {
  margin-left: 7px;
}

.news-card-nav span i {
  font-size: 15px;
  margin-right: 5px;
  display: flex;
  text-transform: lowercase;
}

.news-card-nav span i:last-child {
  font-size: 17px;
}

.news-card .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #001d42;
  margin-bottom: 8px;
}

.news-card .content p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
  margin-bottom: 8px;
}

.news-card .tag {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #bdbdbd;
}

.news-right h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #001d42;
  margin-bottom: 8px;
}

.news-right-card-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 0.8px solid #e0e0e0;
}

.news-right-card-nav span {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #bdbdbd;
}

.news-right-card-nav .tag {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #bdbdbd;
}

.system {
  padding-top: 128px;
}

.system-info .title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #001d42;
  margin-bottom: 24px;
  max-width: 546px;
}

.system-info p {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #001d42;
  margin-bottom: 24px;
  /* max-width: 645px; */
}

.system-bottom .blue-btn:first-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
  color: #529dd6;
  border: 1px solid #529dd6;
  margin-right: 24px;
}

.question {
  padding-top: 133px;
}

.question-header {
  margin-bottom: 64px;
}

.question-header .title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #001d42;
}

.question-body-list-item {
  border-bottom: 1px solid #e0e0e0;
}

.question-body-list .question-item-header {
  text-align: left;
  padding: 0;
  border: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  transition: all 0.3s ease-in-out;
}

.question-item-header.not-collapsed {
  height: 65px;
}

.question-item-header h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #001d42;
}

.question-item-header i {
  transition: all 0.3s ease-in-out;
}

.question-item-header.not-collapsed i {
  transform: rotate(315deg);
}

.question-body-list .question-answer {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #001d42;
  margin-bottom: 24px;
}

.question-body-list .question-card {
  border: unset;
}

.question-body-list .card-header {
  background-color: unset;
  border: unset;
  padding: 0;
}

.question-body-list .card-body {
  padding: 0;
}

.btn-info:not(:disabled):not(.disabled):active,
.question-body-list .btn-info {
  background-color: unset;
  color: #001d42;
}

.question-body-list .btn-info:focus-visible {
  outline: unset;
}

.btn-info:focus {
  box-shadow: unset;
}

.card-text:focus-visible {
  outline: unset;
}

.btn-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: unset;
}

.mediateka {
  padding-top: 160px;
}

.mediateka-title {
  margin-bottom: 40px;
}

.mediateka-title .title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #001d42;
}

.mediateka-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.mediateka-tabs--btns button {
  padding: 12px 24px;
  border: none;
  background-color: unset;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background: #fff;
  border: 1px solid #529dd6;
  border-radius: 4px;
  color: #529dd6;
}

.mediateka-tabs--btns button.active {
  background: #529dd6;
  border-radius: 4px;
  color: #ffffff;
}

.mediateka-tabs--btns button:first-child {
  margin-right: 22px;
}

.mediateka-tabs--links a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #529dd6;
}

.media-card {
  display: block;
  position: relative;
  /* cursor: pointer; */
}

.media-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.media-card:hover::after {
  opacity: 0;
}

.media-card i {
  font-size: 46px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  z-index: 2;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.media-card.active i {
  font-size: 56px;
}

.media-content > div.active {
  display: block;
}

.media-content > div:not(.active) {
  display: none;
}

.media--content--absolute > .row > div:not(:first-child) > div > img {
  width: 100%;
  height: 228px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.media--content--absolute > .row > div:first-child > div > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  height: 100%;
}

.media--content--absolute2 > .row > div:not(:first-child) > div > img {
  width: 100%;
  height: 228px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.media--content--absolute > .row > div:first-child > div,
.media--content--absolute2 > .row > div:first-child > div {
  height: 480px;
}

.media--content--absolute2 > .row > div:first-child > div > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  height: 100%;
}

.media--content--absolute
  > .row
  > div:not(:first-child)
  > div:not(:last-child) {
  margin-bottom: 24px;
}

.media--content--absolute2
  > .row
  > div:not(:first-child)
  > div:not(:last-child) {
  margin-bottom: 24px;
}

.usefull {
  padding-top: 80px;
}

.usefull-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  position: relative;
}

.swiper-pagination-clickable .swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  left: -4px;
  right: -4px;
  bottom: -4px;
  top: -4px;
  border-radius: 50%;
  border: 1px solid #529dd6;
}

.usefull-item {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0 24px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  text-align: center;
}

.usefull-item .usefull-item-image {
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.usefull-item .usefull-item-image img {
  max-height: 70%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.usefull-item h3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #001d42;
  max-width: 222px;
}

.footer {
  background: #05278d;
  margin-top: 120px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 56px;
}

.footer-logo {
  margin-bottom: 54px;
  display: block;
}

.footer-col-1 p {
  max-width: 345px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}

.footer-social span {
  display: block;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 8px;
}

.footer-social ul {
  display: flex;
}

.footer-social ul li {
  margin-right: 16px;
}

.footer-social ul li:last-child {
  margin-right: 0;
}

.footer-social ul li a {
  color: white;
  font-size: 18px;
  display: flex;
}

.footer-list ul li:not(:last-child) {
  margin-bottom: 16px;
}

.footer-list ul h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 8px;
}

.footer-list ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.72;
}

.footer-list ul li:first-child a {
  max-width: 320px;
  display: block;
}

.footer-col-3 form {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  width: 284px;
}

.footer-col-3 form input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  background: unset;
  padding: 12px;
  margin-bottom: 16px;
  color: #ffffff;
}

.footer-col-3 form input:focus-visible {
  outline: unset;
}

.footer-col-3 form input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.8;
}

.footer-col-3 form .send-btn {
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: unset;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #05278d;
}

.footer-col-3 p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  max-width: 261px;
}

.footer-bottom-wrapper {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom-wrapper span {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.footer-bottom-wrapper span a {
  color: unset;
}

/*  Leadership  */

.leader-card {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 32px 32px 16px 32px;
  display: flex;
  align-items: center;
}

.leader-image {
  max-width: 190px;
  height: 230px;
  margin-right: 16px;
  cursor: pointer;
}

.leader-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.leader-info h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #05278d;
  margin-bottom: 8px;
}

.leader-info p {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #001d42;
  margin-bottom: 8px;
}

.leader-info span {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #bdbdbd;
  margin-bottom: 8px;
}
/*  Leadership  */

/* News page */

.sidemenu {
  margin-bottom: 24px;
}

.sidemenu h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #001d42;
  margin-bottom: 16px;
}

.sidemenu ul {
  padding: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin: 0;
  list-style: none;
}

.sidemenu ul li:not(:last-child) {
  margin-bottom: 16px;
}

.sidemenu ul li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 51, 153, 0.56);
  display: flex;
  transition: all 0.2s ease-in-out;
}

.sidemenu ul li a:hover {
  color: rgba(0, 51, 153, 1);
}

.news-view-print h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #001d42;
  margin-bottom: 16px;
}

.news-view-data {
  display: flex;
  margin-bottom: 16px;
}

.news-view-data span {
  font-size: 14px;
  line-height: 16px;
  color: #bdbdbd;
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.news-view-content p {
  font-size: 18px;
  line-height: 28px;
  color: #001d42;
  margin-bottom: 24px;
}

.news-view-data span i {
  margin-right: 5px;
  display: flex;
}

.news-view-data span:first-child i {
  font-size: 16px;
}

.news-view-data span:last-child i {
  font-size: 20px;
}

.news-view-image {
  margin-bottom: 24px;
  width: 100%;
  height: 546px;
  background-size: cover;
  background-position: center center;
  backdrop-filter: blur(10px);
}

.news-view-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.news-view-print-block span i {
  font-size: 14px;
}

.news-view-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-view-social {
  display: flex;
  align-items: center;
}

.news-view-social span {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #05278d;
  margin-right: 16px;
}

.news-view-social ul {
  display: flex;
}

.news-view-social ul li {
  width: 32px;
  height: 32px;
  background: rgba(24, 150, 252, 0.08);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.news-view-social ul li:last-child {
  margin: 0;
}

/* News page */

/* contact page */
.contact-card {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 40px;
}

.contact-card > ul li{
  margin-bottom: 32px;
}

.contact-card ul li p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #001d42;
  margin-bottom: 16px;
}

.contact-card ul li a {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #001d42;
}

.contact-social ul {
  display: flex;
}

.contact-social ul li{
  margin-right: 16px;
}

.contact-social ul li:last-child{
  margin-right: 0;
}
.contact-map{
  height: 100%;
}

/* contact page */
