<template>
  <div class="inner-news">
    <LayoutsHeader />
    <LayoutsBanner :title="'Новости'" />
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-12">
          <div class="news-view">
            <div class="news-view-print">
              <h2>{{ getCurrentPost.title }}</h2>
              <div class="news-view-data">
                <client-only>
                  <span
                    ><i class="icon-calendar"></i
                    >{{ getCurrentPost.date }}</span
                  >
                  <span
                    ><i class="icon-time"></i>{{ getCurrentPost.time }}</span
                  >
                  <span
                    ><i class="icon-view"></i>{{ getCurrentPost.views }}</span
                  >
                </client-only>
              </div>

              <div class="news-view-image">
                <img :src="getCurrentPost.image" alt="" />
              </div>
              <div class="news-view-content">
                <p v-html="getCurrentPost.text"></p>
              </div>
            </div>
            <div class="news-view-footer">
              <div class="news-view-social">
                <span>Поделиться:</span>
                <ul>
                  <li>
                    <a href=""
                      ><img src="~/assets/images/telegram.svg" alt=""
                    /></a>
                  </li>
                  <li>
                    <a href=""
                      ><img src="~/assets/images/instagram.svg" alt=""
                    /></a>
                  </li>
                  <li>
                    <a href=""
                      ><img src="~/assets/images/facebook.svg" alt=""
                    /></a>
                  </li>
                  <li>
                    <a href=""
                      ><img src="~/assets/images/twitter.svg" alt=""
                    /></a>
                  </li>
                </ul>
              </div>
              <div class="news-view-print-block">
                <span>
                  <i class="icon-printer"></i>
                  Распечатать
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <AppSidebar />
        </div>
      </div>
    </div>
    <LayoutsFooter />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {}
  },
  fetch({ store, params }) {
    store.commit('news/getCurrentPost', params.slug)
  },
  computed: {
    ...mapGetters('news', ['getCurrentPost']),
  },
}
</script>

<style></style>
