<template>
  <div class="section-news">
    <LayoutsHeader />
    <LayoutsBanner :title="'Новости'" />
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-12">
          <div class="row">
            <div class="col-lg-4" v-for="item in getCard" :key="item.id">
              <nuxt-link class="news-card" :to="`/news/${item.slug}`">
                <div class="news-card-image">
                  <img :src="item.image" alt="" />
                </div>
                <div class="news-card-nav">
                  <p>
                    <span><i class="icon-calendar"></i>{{ item.date }},</span>
                    <span><i class="icon-time"></i>{{ item.time }}</span> |
                    <span><i class="icon-view"></i>{{ item.views }}</span>
                  </p>
                </div>
                <h3 class="title">{{ item.title }}</h3>
                <div class="content">
                  <p v-html="item.text"></p>
                </div>
                <nuxt-link to="" class="tag">{{ item.tag }}</nuxt-link>
              </nuxt-link>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <AppSidebar />
        </div>
      </div>
    </div>
    <LayoutsFooter />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {}
  },
  computed: {
    ...mapGetters('news', ['getCard']),
  },
}
</script>

<style></style>
