<template>
  <div class="leader-banner">
    <img src="~/assets/images/banner.jpg" alt="" />
    <h2>{{ title }}</h2>
    <ul>
      <li><nuxt-link to="/">Главная</nuxt-link></li>
      <li>
        <nuxt-link :to="title">{{ title }}</nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default() {
        return ''
      },
    },
  },
}
</script>

<style scoped>
.leader-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

h2 {
  position: absolute;
  left: 12%;
  color: #fff;
}

ul {
  display: flex;
  list-style: none;
  position: absolute;
  left: 12%;
  top: 30%;
}

li a {
  color: #fff;
}

ul li:not(:first-child):before {
  content: '/';
  color: #fff;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}
</style>
