<template>
  <div class="home">
    <LayoutsHeader />
    <HomeBanner />
    <HomeAbout />
    <HomeModernization />
    <HomeNews />
    <HomeSystem />
    <HomeQuestions />
    <HomeMediateka />
    <HomeUsefull />
    <LayoutsFooter />
  </div>
</template>

<script>
export default {}
</script>
