<template>
  <div class="footer">
    <div class="container">
      <div class="footer-wrapper">
        <div class="footer-col-1">
          <nuxt-link class="footer-logo" to="">
            <img src="~/assets/images/footer_logo.png" alt="not found" />
          </nuxt-link>
          <p>
            Внимание! Если Вы нашли ошибку в тексте, выделите её и нажмите
            Ctrl+Enter для уведомления администрации
          </p>
          <div class="footer-social">
            <span>Мы в соцсетях:</span>
            <ul>
              <li>
                <a href="#"><i class="icon-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon-telegram"></i></a>
              </li>
              <li>
                <a href="#"><i class="icon-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-list">
          <ul>
            <li>
              <h3>Адрес:</h3>
              <a href="#" target="_blank"
                >100174, г. Ташкент, Алмазарский р-н, ул. Университетская, дом 7</a>
            </li>
            <li>
              <h3>Телефон:</h3>
              <a href="tel:+998 97 170 67 84">+998 97 170 67 84</a>
            </li>
            <li>
              <h3>Эл. адрес:</h3>
              <a href="mailto:munis@mininnovation.uz">munis@mininnovation.uz</a>
            </li>
          </ul>
        </div>
        <div class="footer-col-3">
          <form>
            <input type="email" placeholder="Эл. почта" />
            <button class="send-btn">Подписаться</button>
          </form>
          <p>Сайт обновлялся последний раз: 16:42, 26.10.2021 (GMT+5)</p>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="footer-bottom-wrapper">
          <span>
            &copy; 2021 Все права защищены. При перепечатке материалов сайта
            ссылка на веб-сайт обязательна</span
          >
          <span
            >Разработка сайта:<a href="osg.uz">Online Service Group</a></span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
