<template>
  <div class="sidebar-banner">
    <img src="~/assets/images/faq.png" alt="" />
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.sidebar-banner {
  position: relative;
}
.sidebar-banner img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.sidebar-banner h3 {
  position: absolute;
  top: 56px;
  left: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
</style>
