<template>
  <div class="sidebar">
    <div class="sidemenu">
      <h3>{{ sidemenu.title }}</h3>
      <div class="sidemenu-content">
        <ul>
          <li v-for="item in sidemenu.children" :key="item.id">
            <nuxt-link to="">{{ item.title }}</nuxt-link>
          </li>
        </ul>
      </div>
    </div>
    <AppSidebarBanner />
  </div>
</template>

<script>
export default {
  data() {
    return {
      sidemenu: {
        title: 'Новости',
        children: [
          {
            title: 'Cостоянии проекта',
          },
          {
            title: 'Наука',
          },
          {
            title: 'Инновация',
          },
        ],
      },
    }
  },
}
</script>

<style></style>
